{
  "metrics": {
    "endpoint_override": "{{ eucalyptus_monitoring_cloudwatch_endpoint | quote }}"
  },
  "logs": {
    "endpoint_override": "{{ eucalyptus_monitoring_cloudwatchlogs_endpoint | quote }}"
  }
}
